/*display: inline-block;uno al lado del otro*/
/*vertical-align: middle;alinear verticalmente en el medio*/

.headerPrincipal .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerPrincipal-nav {
    display: flex;    
}

.rodapePrincipal-patrocinadores .container {
    display: flex;
    justify-content: space-between;
}


.rodapePrincipal-patrocinadores-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
    margin-right: 5%;
}
.rodapePrincipal-contatoForm {
    width: 25%;
}
.rodapePrincipal-contatoForm-fieldset {
    display: flex;
}

.rodapePrincipal-navMap-list{
    display: flex;
    flex-direction: column;
    height: 250px;
    flex-wrap: wrap;/*por cada 250px que indicamos en el height, va a pasar a la siguiente columna*/
}

.contenidoPrincipal-cursos {
    display: flex;
    flex-wrap: wrap;
}

.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;
}
.videoSobre .container{
    display: flex;
}
.videoSobre-sobre{
    text-align: center;
    display: flex;
    flex-direction: column;    
}

.videoSobre-video{
    flex-grow: 2;/*divide el espacio en la indicacion que le doi, en este caso divide 2 espacios y los divide en el espacio del video?*/
    flex-shrink: 2;
}
.videoSobre-sobre-list{
    flex-grow: 2;
}



/*Responsive*/
@media (max-width:768px){
    .headerPrincipal .container {
        flex-direction: column;
        align-items: initial;
        text-align: center;
    }
    .headerPrincipal-nav {
        flex-direction: column;
    }
    
    .contenidoPrincipal-cursos {
        flex-direction: column;
    }
    .contenidoPrincipal-cursos-link{
        width: 100%;
    }
    .rodapePrincipal-navMap-list{
        height: auto;/*Pone sola el espacio entre los elementos*/
        flex-wrap: nowrap;
    }
    
    .rodapePrincipal-patrocinadores .container {
        flex-direction: column;
        
    }
    .rodapePrincipal-contatoForm {
        width: 100%;
    }
    
    .rodapePrincipal-patrocinadores-list {    
        align-items: center;
        width: 100%;
        margin: 0%;    
    }
    .rodapePrincipal-contatoForm-fieldset {
        justify-content: center;
    }

    .headerPrincipal-nav-link-app{
        order:-1;
    }

    .videoSobre .container{
        flex-direction: column;
    }
}
